<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{title}}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  
</head>

  <nav class="navbar navbar-light bg-light nav-menu">

    <a href="/"><img src="../images/logo.png" width="180" height="60" title="Logo" alt="Logo"></a>

    <div class="searchRow">
      <form action="/search" method="get" class="input-group btn-group">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">

          {{!-- <label class="btn btn-outline-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" value="recipe" checked> 
          </label>

          <label class="btn btn-outline-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off" value="user"> 
          </label> --}}

        </div>

        <input type="text" class="form-control" name="searchInput">

        {{!-- <select class="custom-select" name="dishType">
          <option value="" selected>Select Category</option>
          <option value="Vegetarian">Vegetarian</option>
          <option value="Vegan">Vegan</option>
          <option value="Mains">Mains</option>
          <option value="Breakfast">Breakfast</option>
          <option value="Snacks">Snacks</option>
          <option value="Dessert">Dessert</option>
          <option value="Drinks">Drinks</option>
        </select> --}}

        <div class="btn-group">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
      </form>
    </div>

    <div>
      {{#if loggedIn}}
      <a class="btn btn-outline-success" href="/{{loggedIn.username}}">{{loggedIn.username}}</a>
      <a class="btn btn-success" href="/ingredients">My Fridge</a>
      <a class="btn btn-danger" href="/auth/logout">Logout</a>
      {{else}}
      <a class="btn btn-warning" href="/auth/login">Login</a>
      <a class="btn btn-danger" href="/auth/signup">Signup</a>
      {{/if}}
    </div>
  </nav>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="/javascripts/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {{{body}}}
</html>