<br>
<h2>{{userProfile.username}}'s favorites: </h2>
<style type="text/css">
  h2 {
    color: black;
    padding: 10px 5px 15px 20px;
  }
</style>
<br>
<div class="flex-container">
  {{#each likedRecipes}}
  <div class="each-recipe">
    <a href="/recipes/{{_id}}">
      <img src="{{image}}">
      <p>{{title}} | {{rating}}⋆</p>
    </a>
  </div>
  {{/each}}
</div>