{{#each recipes}}
<h1>{{this.title}}</h1>
<img src="{{this.image}}" alt="Image for {{this.image}}">
<h3>Categorie: {{this.categories}}</h3>
<h4>Preparation time: {{this.preparationTime}} mins</h4>
<h4>Serves: {{this.serves}}</h4>
<h4>Rating: {{this.rating}}</h4>
{{/each}}